
@model usersdb.Models.UsersModel
@{
   List<UsersModel> users = TempData["users"] as List<UsersModel>;
    
}

<h1>Login</h1>


<form action="/Home/LoginGet" method="get" >
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter User Name" asp-for="UserName" minlength="2" maxlength="12" required >

    </div>

     <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" asp-for="Email" required>

 
    </div>


    <div class="form-group">
        <label for="Password">Password</label>
        <input type="Password" class="form-control" id="Password" placeholder="Password" asp-for="PassWord" minlength="8" maxlength="16" required>
    </div>
    

@if (  ViewBag.Message3 == "DoesNotExsit" ) {
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> Password or UserName are incorrect.
    </div>
}
    


    <button type="submit" class="btn btn-primary" >Login</button>
</form>

