
@model usersdb.Models.UsersModel
@{
   List<UsersModel> users = TempData["users"] as List<UsersModel>;
    
}

<h1>Users</h1>


<form action="/Home/RegisterPost" method="post">
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter User Name" asp-for="UserName" minlength="2" maxlength="12" required >

    </div>

     <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" asp-for="Email" required>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="Password" class="form-control" id="Password" placeholder="Password" asp-for="PassWord" minlength="8" maxlength="16" required>
    </div>

    

    <button type="submit" class="btn btn-primary"  >Register</button>
</form>

